.homeManagementNewsRecruit {
  display: flex;
}

.homeCategoryContainer {
  flex: 5;
}

.tableForm {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.datatableTitle {
  width: 100%;
  font-size: 24px;
  color: gray;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 50px;
  // justify-content: space-between;

  .Search {
    display: flex;
    font-size: 17px;
    width: 650px;

    .lsItemInput {
      display: flex;
      margin-right: 30px;
      gap: 10px;
    }

    .lsOptionItemsort {
      display: flex;
      // align-items: center;
      gap: 10px;
      // justify-content: space-between;
      width: 200px;

      .lsOptionText {
        width: 70px;
      }

      .lsOptioncbbox {
        width: 100px;
      }
    }
  }

  .link {
    text-decoration: none;
    color: green;
    font-size: 16px;
    font-weight: 400;
    background-color: rgb(205, 255, 238);
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.cellActionRN {
  width: 290px;
  display: flex;
  align-items: center;
  gap: 10px;

  .viewButtonRN {
    padding: 2px 5px;
    border-radius: 5px;
    color: darkblue;
    background-color: aquamarine;
    border: 1px dotted rgba(0, 0, 139, 0.596);
    cursor: pointer;
    margin-right: 10px;
  }

  .deleteButtonRN {
    padding: 2px 5px;
    border-radius: 5px;
    color: crimson;
    background-color: rgb(246, 198, 184);
    border: 1px dotted rgba(220, 20, 60, 0.6);
    cursor: pointer;
    margin-right: 10px;
  }
}
