.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;

  .headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;

    .headerList {
      display: flex;
      gap: 40px;
      margin-bottom: 30px;

      .headerListItem {
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;

        &.active {
          border: 1px solid white;
          padding: 10px;
          border-radius: 20px;
        }
      }
    }

    .headerTitle {
      text-align: center;
    }

    .headerDesc {
      margin: 20px 0px;
      text-align: center;
    }

    .headerBtn {
      justify-content: space-around;
      background-color: #0071c2;
      color: white;
      font-weight: 600;
      border: none;
      padding: 10px;
      cursor: pointer;
      margin-left: 70px;
    }

    .headerSearch {
      height: 30px;
      // background-color: white;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 10px 0px;
      border-radius: 2px;
      position: absolute;
      bottom: 25px;
      width: 100%;
      max-width: 1024px;
      color: gray;

      .headerSearchItem {
        display: flex;
        align-items: center;
        gap: 10px;
        // width: 600px;

        // .headerIcon {
        //     color: lightgray;
        // }

        span {
          width: 50px;
          margin-right: 1px;
          color: #ccc;
        }
        .lsOptioncbbox {
          // text-align: center;
          margin-right: 10px;
          width: 300px;
        }

        .headerSearchInput {
          display: flex;

          input {
            width: 250px;
          }

          button {
            height: 100%;
            width: 80px;
            font-size: 10px;
            border-radius: 15%;
            margin: 0 5px;
          }
        }

        .headerSearchItem {
          display: flex;
          // align-items: center;
          gap: 10px;
        }

        .headerSearchText {
          color: lightgray;
          cursor: pointer;
          width: 80px;
          top: 50px;
        }
      }

      select,
      input {
        border: 1px solid #ccc;
        outline: none;
        height: 30px;
        padding: 0 60px;
        font-size: 12px;
      }
    }
  }

  .headerContainer.listMode {
    margin: 20px 0px 0px 0px;
  }
}
